{% extends 'base.html' %}
{% block content %}

<section class="slider-p">


     {% for p in prs %}



            <div class="item">
            <div class="card">
                <img src="media/{{ p.pic }}" alt="Denim Jeans" style="width:100%">
                <h1>{{ p.title }}</h1>
                <p class="price">${{ p.price }}</p>
                <p>Some text about the jeans..</p>
                <p><button><a href="{% url 'mp' catp1=p.category1 p=p.slug pr=p.slug %}">Add to Cart</a></button></p>
            </div>
        </div>






         <br>
         <br><br>
         <br>

    {% endfor %}
</section>
{% endblock %}