{% extends 'base.html' %}


{% block content %}
  <ul >

                {% for i in pr %}



                    {% if i.categ_id == none   %}
                        {{ i.title }}:

                        {% for a in pr %}
                        {% if a.categ_id == i.id %}
                            <li>
                            {{ a.title }}
                            </li>
                            <br>
                             {% endif %}
                             {% endfor %}
                    {% endif %}









                    <br>



            {% endfor %}

  </ul>
{% endblock %}