{% extends 'base.html' %}


{% block content %}
    <div style="margin-top: 10%">
  <ul>

                {% for i in pr %}



                    {% if i.categ_id == none   %}
                       <a href="{% url "pro" ps=i.slug %}">{{ i.title }}</a> :

                        {% for a in pr %}

                        {% if a.categ_id == i.id %}
                            <li>
                            <a href="{% url 'cp' ps1=a.categ  catp=a.slug%}">{{ a.title }}</a>
                            </li>

                             {% endif %}
                             {% endfor %}
                        {% endif %}









                    <br>



            {% endfor %}

  </ul>
    </div>
{% endblock %}