{% extends 'base.html' %}
{% block content %}

    {% for product in categorySend %}
        <a style="font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Vazirmatn', sans-serif;" href="{% url "product:pro" ps=product.id %}">{{ product.title }}</a>
        <br>
    {% endfor %}

    <section class="slider-p" >
        {% for i in list_product %}

                    <div class="item">
            <div class="card">
                <img src="/../../../media/{{ i.pic }}" alt="Denim Jeans" style="width:100%">
                <h1  dir="rtl" style="
                text-align: center;
                text-decoration: none ;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 300px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Vazirmatn', sans-serif;

">{{ i.title }}</h1>
                <p style="font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Vazirmatn', sans-serif;"  class="price">{{ i.price }}تومان</p>
                {% if i.is_discount is True %}
                <p><del>{{ i.last_price }}</del><small style="color: #f12c2c">{{ i.cent }}%</small></p>
                    {% else %}
                    <p>  ...  </p>
                    {% endif %}
                <p><a href="{% url 'product:mp' catp1=i.slug pr=i.slug %}"><button style="font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Vazirmatn', sans-serif;">مشاهده محصول</button></a></p>
            </div>
        </div>

    {% endfor %}
    </section>
    {% for page in paginator.page_range %}
        <a href="?page={{page}}">{{ page }}</a>
    {% endfor %}



{% endblock %}