{% load django_template_maths %}
     <div id="tb" class="div_org" >


<table  dir="ltr">
  <tr>
    <th>محصول</th>
    <th>تعداد</th>
    <th>قیمت</th>
      <th>مجموع قیمت محصولات</th>
  </tr>

{% for dit in cart_shop.order_details_set.all %}
<tr >
    <th>{{ dit.product.title }}</th>
    <th> <input id="id_p{{ dit.id }}" value="{{ dit.product.number }}" type="hidden">
        <input  id="num{{ dit.id }}"  style="width:20%;border:solid 1px chocolate; " min="1" max="{{ dit.product.number }}" value="{{ dit.countp }}" type="number">
        <button onclick="savecount('num{{ dit.id }}',{{ dit.id }},'id_p{{ dit.id }}')" >ذخیره</button> </th>
    <th>
        {% if dit.product.is_discount is True %}
           <del>{{ dit.product.last_price }}</del>
            <small style="color: #f12c2c">%{{ dit.product.cent }}</small>

        <b style="color: forestgreen"> {{dit.product.price}}</b>
            {% else %}
           <b style="color: forestgreen"> {{dit.product.price}}</b>
        {% endif %}


    </th>


    <th>{{dit.countp|mul:dit.product.price}}</th>
    <th><a onclick="add({{ dit.id }})"><button>حذف</button></a></th>
</tr>


{% endfor %}

<tr>
    <th></th>
    <th></th>
    <th>مجموع قیمت سبد خرید:</th>
    <th>{{ multi }}</th>
</tr>



</table>

<a href="{% url 'cart:gateway' %}"><button >پرداخت</button></a><span id="demo"></span>
</div>