{% extends 'base.html' %}
{% load static %}
{% load django_template_maths %}


{% block content %}
     <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<style>
.div_org{
    height:100%;
    margin-bottom:20%;

}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
    height:100%;
    margin-right: 5%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
     <div id="tb" class="div_org" >


<table  dir="ltr">
  <tr>
    <th>محصول</th>
    <th>تعداد</th>
    <th>قیمت</th>
      <th>مجموع قیمت محصولات</th>
  </tr>

{% for dit in cart_shop.order_details_set.all %}
<tr >
    <th>{{ dit.product.title }}</th>
    <th> <input id="id_p{{ dit.id }}" value="{{ dit.product.number }}" type="hidden">
        <input  id="num{{ dit.id }}"  style="width:20%;border:solid 1px chocolate; " min="1" max="{{ dit.product.number }}" value="{{ dit.countp }}" type="number">
        <button onclick="savecount('num{{ dit.id }}',{{ dit.id }},'id_p{{ dit.id }}')" >ذخیره</button> </th>
    <th>
        {% if dit.product.is_discount is True %}
           <del>{{ dit.product.last_price }}</del>
            <small style="color: #f12c2c">%{{ dit.product.cent }}</small>

        <b style="color: forestgreen"> {{dit.product.price}}</b>
            {% else %}
           <b style="color: forestgreen"> {{dit.product.price}}</b>
        {% endif %}


    </th>


    <th>{{dit.countp|mul:dit.product.price}}</th>
    <th><a onclick="add({{ dit.id }})"><button>حذف</button></a></th>
</tr>


{% endfor %}

<tr>
    <th></th>
    <th></th>
    <th>مجموع قیمت سبد خرید:</th>
    <th>{{ multi }}</th>
</tr>



</table>

<a href="{% url 'gateway' %}"><button >پرداخت</button></a><span id="demo"></span>
</div>









    <script>




function savecount(id,id_dit,count) {




    const count_cart=$('#'+count).val()
    const num = $('#'+id).val();


    {#console.log(id);#}
    {#console.log(num);#}
    {#console.log(id_dit);#}
    {#console.log(count_cart);#}
            var c=parseInt(num);
        var i=parseInt(count_cart)
    if (isNaN(i)){
        console.log(i);

    }
     if (isNaN(c)){
        var c=0;
    }



console.log(c);



if(c<=i){



    $.get("{% url 'save_count' %}",

        {id_dit,num}).then(result => {


    $('#tb').html(result);});
}else {
document.getElementById("demo").innerHTML = "!!بیشتر از موجودی انبار";
}



}




 function add(dit_id) {


 console.log(dit_id);
$.get("{% url 'remove_cart' %}",{
    ditail_id : dit_id

}).then(result => {
    console.log(result);

    $('#tb').html(result);
});


}

</script>


{% endblock %}