{% extends 'base.html'%}

{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
<script defer src="https://pyscript.net/alpha/pyscript.js"></script>
<style>
.div_org{
    height:100%;
    margin-bottom:20%;

}
table {
  font-family: arial, sans-serif;
border-collapse: collapse;
  width: 100%;
    height:100%;
    margin-right: 5%;
        margin:auto;

}

 th {

  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;


}
.dvs{
width: 100%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;

}
.font_th{
    font-family: 'Vazirmatn', sans-serif;
}
.ddate-price-parent{

                padding-top: 5%;
                 float: right;
                    width: 100%;
                    display: flex ;
                    flex-wrap: wrap;
                justify-content: space-evenly;
}
.button-child{
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;

  background-color: #f61919;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;

  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;

  outline: none;

  position: relative;
  text-align: center;

  transition: color 100ms;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    width: 100%;
    height: 10%;
}

.button-child:hover,
.button-child:focus {
  background-color: #cc1111;
}



</style>

<div style="width: 100%;margin-top: 5%">

<div style="width:50%;float: left">
  <div class="ddate-price-parent" >
{% for a in oa %}





                {% for i in a.0 %}
                        <button class="button-child" onclick="hider(s{{ i.0.id }})" >
                        <div style="margin-top: 2%;font-family: 'Vazirmatn', sans-serif;">تاریخ :  {{ a.1.1|date:" d / m / Y"}} </div>
                            <div style="margin-top: 1%;margin-bottom: 2%;font-family: 'Vazirmatn', sans-serif;" >قیمت نهایی :{{ a.1.0 }} <i class="fa-solid fa-bag-shopping"></i> </div>



                        </button>


                        <div id="s{{ i.0.id }}" class="dvs">
                        <table>
                        <tr>
                            <th class="font_th">محصولات</th>
                            <th class="font_th" style="width: 10%">تعداد</th>
                            <th class="font_th" >قیمت</th>

                        </tr>

                        {% for u in i %}
                            <tr>

                                <th class="font_th">{{ u.product }}</th>
                                <th class="font_th">{{ u.countp }}</th>
                                <th class="font_th">{{ u.final_price }}</th>

                            </tr>
                            {% endfor %}
                        </table>
                        </div>
{% endfor %}

{% endfor %}
 </div>
</div>

<div  style="  width: 40%; float: right">
<button style="  width: 70%; margin-right:28%" class="button-child" onclick="change()" > تغییر رمز </button>
<form  class="change" style="margin-right:28%;" method="post" action="{{ request.path }}">
{% csrf_token %}
{% for f in form %}
    {{ f|as_crispy_field  }}
{% endfor %}
<button type="submit">تغییر رمز</button>
</form>
</div>
</div>


    <py-env>
        - matplotlib
</py-env>
    <div id="matplotlib-lineplot"></div>
    <py-script output="matplotlib-lineplot">
        # Python Code


        # importing the matplotlib library
        import matplotlib.pyplot as plt
        fig, ax = plt.subplots()
        # x axis

        x = [
        {% for t in finallprice %}
            "{{ t }}",
        {% endfor %}
        ]
        # y axis
        y = [{% for j in date %}
            '{{ j|date:" y/m/d" }}',
        {% endfor %}]
        plt.plot(x, y, marker='o', linestyle='', color='r')
        # Naming the x-label
        plt.xlabel('Language')
        # Naming the y-label
        plt.ylabel('Score')
        # Naming the title of the plot

        fig

     </py-script>
    




<script>

function codeAddress() {

             $ ( ".dvs" ).hide ();
             $ ( ".change" ).hide ();
                        }

window.onload = codeAddress;
function change(){
    $ ( ".change" ).slideToggle();

}
function hider(sd){

            console.log(sd);
            $(".dvs").fadeOut('fast');

            $(sd).toggle();

};



</script>






{% endblock %}