{% load render_partial %}
{% load static %}
<header class="header">
    <div class="top-menu">
    <div class="continer">
         <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <div class="topbar-r">
            <ul>

                <li style="font-family:'Harmattan', 'Oswald', sans-serif;">   <i class="fa-solid fa-phone-flip"> </i> شماره تماس:{{ lep.phone|slugify  }}</li>

                <li style="font-family:  'Harmattan','Oswald', sans-serif;">   <a style="font-family:'Harmattan', 'Oswald', sans-serif; text-decoration: none;color: #FFFFFF" href="#"><i class="fa-regular fa-envelope"></i> ایمیل: {{lep.email}}</a> </li>
            {% if user.is_authenticated %}
                <li><a style="color:#FFFFFF" href="{% url 'cart_shoping' %}"><i class="fa-solid fa-cart-shopping"></i></a></li>
                {% endif %}
            </ul>


        </div>
        <div class="topbar-l"></div>

    </div>
</div>
    <div class="container">
        <div class="logo">
            <img src="../../media/{{ lep.logo }}">
        </div>
        <nav class="menu">
{#            <ul>#}
{#                <li><a href="{% url 'index' %}">home </a>#}
{#                    <ul>#}
{#                            <li><a href="#">about</a></li>#}
{#                            <li><a href="#">about</a></li>#}
{#                            <li><a href="#">about</a></li>#}
{#                            <li><a href="#">about</a></li>#}
{##}
{##}
{#                    </ul>#}
{##}
{#                </li>#}
{##}
{#                <li><a href="#">test1</a></li>#}
{#                <li><a href="#">test2</a></li>#}
{#                <li><a href="#">test3</a></li>#}
{#                <li><a href="#">test4</a></li>#}
{##}
{#            </ul>#}
            <ul>
                {% for m in menu %}
                    {% if m.sub_menu_id is null %}

                <li><a style="text-align:center;font-family: 'Noto Sans Arabic', sans-serif;" href="{% url m.url_name %}">{{ m.title }}</a>
                <ul>
                        {% for m1 in menu %}

                            {% if m1.sub_menu_id == m.id %}
                                <li><a style="text-align:center;font-family: 'Noto Sans Arabic', sans-serif;" href="{% url m1.url_name %}">{{ m1.title }}</a></li>

                            {% endif %}

                        {% endfor %}
                        </ul></li>
                    {% endif %}

                {% endfor %}
            {% if user.is_authenticated %}
                <li><a style="text-align:center;font-family: 'Noto Sans Arabic', sans-serif;" href="{% url 'logout' %}">خروج</a></li>
                 <li><a style="color:rgb(247, 6, 54)" href="{% url 'cart_shoping' %}"><i class="fa-solid fa-cart-shopping"></i>
                     </a></li>
                <li><a style="color:rgb(247, 6, 54)" href="{% url 'profile' user_name=user.username %}"><i class="fa-solid fa-user"></i>
                     </a></li>


                {% else %}
                            <li><a style="text-align:center;font-family: 'Noto Sans Arabic', sans-serif;" href="{% url 'signup' %}">ثبت نام/ورود</a>
                <ul>

                                <li><a style="text-align:center;font-family: 'Noto Sans Arabic', sans-serif;" href="{% url 'login' %}">ورود</a></li>
                                <li><a style="text-align:center;font-family: 'Noto Sans Arabic', sans-serif;" href="{% url 'signup' %}">ثبت نام</a></li>
                </li>




                        </ul>




            {% endif %}

            </ul>
        </nav>



    </div>
</header>